#container {
	width: 900px;
	margin: auto;
}

#left {
	background-color: #fb9dc7;
	width: 300px;
	height: 300px;
	float: left;
}

#middle {
	background-color: #ffd09f;
	width: 300px;
	height: 300px;
	float: left;
}

#right {
	background-color: #9bf8b7;
	width: 300px;
	height: 300px;
	float: left;
}